body{
    background-image: url('farmbg7.jpg');
    /* background-image: radial-gradient(white,rgb(175, 252, 175)); */
}
*{
    margin: 0%;
}
#logo{
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
#heading{
    font-size: 200%;
    font-style: bold;
    color: beige;
    text-shadow: 0 0 7px #111808, 0 0 5px #0c4925;
    margin-left: 5px;
}
.title{
    padding-top: 1%;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: black;
    background: rgba(32, 61, 7, 0.696);
    /* background-color: #333; */
    padding: 20px;
    position: sticky;
    top: 0;
}
nav{
    text-align: right;
    margin-bottom: 1%;
}
#navlink {
    margin-right: 3%;
    color: beige;
    padding: 1px;
    text-shadow: 0 0 3px #111808, 0 0 5px #0c4925;
    font-size: 140%;
}


#q1{
    font-size: 150%;
    color: beige;
}
#wel{
    margin-left: 3%;
    margin-top: 3%;
    font-size: 500%;
    font-style: bold;
    color:beige;
    text-shadow: 0 0 7px #111808, 0 0 5px #0c4925;
}

#dolist{
    text-align: left;
    font-size: 200%;
    color: beige;
    /* text-shadow: 0 0 2px #111808, 0 0 0px #0c4925; */
}

.container {
    position: relative;
  }
  
  .navbar {
    padding: 0px;
  }
  
  .open-drawer {
    cursor: pointer;
    float: left;
    margin-left: 1%;
    margin-top: 4px;
    color: beige;
    
  }
  
  .drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    /* background: rgba(169, 246, 97, 0.896); */
    background-color: #333;
    margin-top:3.8%;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    font-size: 130%;
    border-style: solid;
    border-width: 2px 2px 0px 0px;
  }
  
  .drawer.open {
    transform: translateX(0);
  }
  li{
    margin-bottom: 10%;
    color: beige;
  }
