body{
    background-image: radial-gradient(beige,yellowgreen);
}
*{
    margin: 0%;
}
#logo{
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
#heading{
    font-size: 200%;
    font-style: bold;
    color: beige;
    text-shadow: 0 0 7px #111808, 0 0 5px #0c4925;
    margin-left: 5px;
}
.title{
    /* padding-top: 1%; */
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: black;
    background: rgba(32, 61, 7, 0.696);
    /* background-color: #333; */
    padding: 20px;
    position: sticky;
    top: 0;
}
nav{
    text-align: right;
}
#navlink {
    margin-right: 3%;
    color: beige;
    padding: 1px;
    text-shadow: 0 0 3px #111808, 0 0 5px #0c4925;
    font-size: 140%;
}


#q1{
    font-size: 150%;
    color: beige;
}
#wel{
    text-align: justify;
    margin-left: 15%;
    margin-top: 1%;
    font-size: 400%;
    font-style: bold;
    color: black;
    /* text-shadow: 0 0 7px #111808, 0 0 5px #0c4925; */
}
#dolist{
    text-align: justify;
    font-size: 200%;
    margin-left: 15%;
    
}
footer {
    background-color: #040404;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #878484;
    margin-top: 10%;
  }
a{
    color: beige;
}

.container {
    position: relative;
  }
  
  .navbar {
    padding: 0px;
  }
  
  .open-drawer {
    cursor: pointer;
    float: left;
    margin-left: 1%;
    margin-top: 4px;
    color: beige;
    
  }
  
  .drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    /* background: rgba(169, 246, 97, 0.896); */
    background-color: #333;
    margin-top:27.5%;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    font-size: 130%;
    border-style: solid;
    border-width: 2px 2px 0px 0px;
  }
  
  .drawer.open {
    transform: translateX(0);
  }
  li{
    margin-bottom: 10%;
    color: beige;
  }




  /*Image sliding CSS*/

  * {
    box-sizing: border-box
  }
  .mySlides {
    display:none;
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    font-family: Verdana, sans-serif;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .5
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .5
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 350px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
