body{
    background-image:radial-gradient(white,rgb(175,252,175)) ;
    /* margin-left: 50px;
    margin-right: 50px; */
}

p
{
    font-size:larger;
    text-align: justify;
}
h1{
    font-size:250%;
    color:beige
}
#anime{
    height:100px;
    width: 150px;
    /* margin-right: 20%; */
    margin-left: 2%;
    float: right;
    
}
.box
{
    height:2%;
    width:100%;
    background-color:green;
}
.container{
    margin-top: 2%;
    margin-left: 50px;
    margin-right: 50px;
}